<!doctype html>
<html lang="en" ng-app='LunchCheck'>
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src='app.js'></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller='LunchCheckController'>
     <h1>Lunch Checker</h1>
         <div class="form-group">
           <p class='highlight'>
             DO NOT consider and empty item as an item towards to the count.
           </p>
             <input id="lunch-menu" type="text" class="form-control"
             placeholder="list comma separated dishes you usually have for lunch"
             ng-class="{'green': green, 'red':red}"
             ng-model='dishes'>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click='check()'>Check If Too Much</button>
         </div>
         <div class="form-group message" ng-class="{'green': green, 'red':red}">
           {{message}}
         </div>
   </div>
</body>
</html>
